/*body {
	background-image: url(../images/Amazing-Cocktail-Splash-Wallpapers-HD.jpg);
}*/

#title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	color: #af9a51;
	position: absolute;
	top: 15px;
	left: 38%;
}

.row-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#body-style {
	font-family: 'Catamaran', sans-serif;
	width: 100%;
}

#sign-form {
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(225,229,102,0.4);
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}

#user-signin {
	background-color: rgba(225,229,102,0.4);
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}

.mood-icons {
	width: 80px;
}

#mood-selector {
	height: 300px;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	width: 90%;
	margin-bottom: 50px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: #af9a51;
	padding: 30px;
}

.moods {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
}

.parallax {
	overflow-x: hidden;
  	overflow-y: auto;
    /* The image used */
    background-image: url(../images/Amazing-Cocktail-Splash-Wallpapers-HD.jpg);

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
	overflow-x: hidden;
  	overflow-y: auto;
    /* The image used */
    background-image: url(../images/relax-in-mauritius_408.jpeg);

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#myCarousel {
	margin-bottom: 50px;
}

#party-mood {
	background-image: url(../images/party_mood.jpg);
}

#romance-mood {
	background-image: url(../images/romance_bg.png);
}

#relax-mood {
	background-image: url(../images/relax_bg.png);
}

#cry-mood {
	background-image: url(../images/cry_bg.png);
}

.mood-style {
	box-sizing: border-box;
	width: 23%;
	height: 170px;
	padding: 25px;
	border: #635215 solid 1px;
	margin: 1%;
	float: left;
	cursor: pointer;
}

.mood-style:hover {
    box-shadow: 0px 0px 15px #af9a51;
}

.p-style {
	padding: 10px;
	color: #af9a51;
}

.item-style {
	float: left;
	width: 18%;
	margin: 1%;
	border:#92831D solid 1px;
	background-color: #000000;
	padding: 5px;
	padding-bottom: 10px;

}

.carousel-inner {
	background-color: rgba(175,154,81,0.80);
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.item {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-family: 'Catamaran', sans-serif;
	font-size: 18px;	
	color: #af9a51;
	padding: 10px;
	cursor: pointer;
}

h4 {
	padding: 8px;
	padding-bottom: 12px;
	height: 50px;
	text-align: center;
}

img {
	width: 90%;
}

.modal-content{
	background-color: black;
	color: #af9a51;
}

#image-holder {
	border: solid #af9a51 3px ;
}

#like-btn {
	background-color: #af9a51;
	color: black;
	margin-bottom: 15px;
}

#instructions-area {
	margin-bottom: 15px;
}

.collapse .navbar-collapse {
	text-align: center;
	display: inline-block;
}

.navbar {
	background: rgba(0, 0, 0, 0.7);
	padding: 2px;
    border: none;
    font-size: 18px;
	margin: 20px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #af9a51;
}

.navbar .navbar-nav > li.open > a:hover, .navbar .navbar-nav > li.open > a:focus {
 background-color: transparent;
 border-radius: 5px;
 color: #af9a51 ;
 text-decoration: none;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
   background-color: #af9a51 ;
   color:#ffffff ;
   min-width: 250px;
   
}

#fav-tab:hover {
    color: #af9a51 ;
}


.form-control {
	background-color: #833636;
	color: white;
}

.sign-in-btn {
	background-color: transparent;
	color: #af9a51;
	border-radius: 10px;
	margin-right: 25px;
	margin-top: 8px;
	border: solid #af9a51 1px;
	font-size: 15px;
	opacity: 1;
	position: absolute;
	right: 0 ;
}

button.btn.btn-default{
	background-color: transparent;
	color: #af9a51;
	border-radius: 10px;
	margin-right: 25px;
	border: solid #af9a51 1px;
	font-size: 15px;
	opacity: 1;

}

.close{
	color: #af9a51;
	opacity: 1;
	text-shadow: none;
	top: 0;
}

#carousel-close {
	width: 30px;
	height: 30px;
	font-size: 20px;
	color: #9B913A;
	padding: auto;
	border-radius: 10px;
	border: solid #544A0A;
	background-color: #544A0A;
	margin-right: 25px;
	position: absolute;
	right: 20px;
	top: 20px;
}

.carousel {
	background-color: none;
}
.slide {
	background-color: none;
}
.multi-item-carousel {
	background-color: none;
}

#make-drink-section {
	height: 400px;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #af9a51;
	
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	padding-top: 15px;
}

.alcohol {
	background-color: #000000;
	padding-top: 8px;
	margin: 4px;
	height: 40px;
	vertical-align: middle;
	border-radius: 5px;
	border: solid #544A0A 1px;
	cursor: pointer;
}

.alcohol:hover {
    box-shadow: 0px 0px 5px #af9a51;
}

.shaker {
	width: 200px;
	margin-top: 10px;
}

.plus {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 100px 70px 0px 0px;
}

.plus-right {
	width: 50px;
	height: 50px;
	margin: 100px 0px 0px 50px;
	position: relative;
}

.hor-line {
	width: 50px;
	height: 2px;
	background-color: #af9a51;
	position: absolute;
	top: 24px;
}

.vert-line {
	width: 2px;
	height: 50px;
	background-color: #af9a51;
	position: absolute;
	left: 40px;
}

#make-drink-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: #af9a51;
	margin-top: 25px;
}

